*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
/*     font-family: Arial, sans-serif;
 */    line-height: 1.6;
    /* background-color: #f4f4f4; */
    color: #333;
}
header {
    height: 100vh;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .profile-img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}   
header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
header .btn {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}   